@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    /* Header */
    .nav-list li {
        padding: 28px 18px;
    }
    .nav-list-link {
        font-size: 20px;
        font-weight: 500;
        text-transform: uppercase;
        color: #383838;
        transition: all 0.3s linear;
        display: block;
        white-space: nowrap;
    }
    .header-shadow {
        box-shadow: 2px 4px 8px rgba(73, 73, 73, 0.15);
    }
    /* Slider */
    .slider-shape {
        width: 700px;
        height: 700px;
        border-radius: 50px;
        background-color: #eee5ff;
        position: absolute;
        top: -150px;
        right: -90px;
        transform: rotate(45deg);
    }

    .main-slider .swiper-pagination {
        text-align: left;
        left: 50px !important;
        bottom: 50px !important;
    }
    .main-slider .swiper-pagination .swiper-pagination-bullet {
        outline: none;
        background-color: #212121;
        transition: all 0.3s linear;
        opacity: 1;
        width: 10px;
        height: 10px;
        display: inline-block;
        position: relative;
        margin: 0 10px !important;
        cursor: pointer;
    }
    .main-slider .swiper-pagination .swiper-pagination-bullet::before {
        position: absolute;
        content: "";
        width: 16px;
        height: 16px;
        border: 1px solid rgba(0, 0, 0, 0);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        transition: all 0.3s linear;
    }
    .main-slider
        .swiper-pagination
        .swiper-pagination-bullet.swiper-pagination-bullet-active::before {
        @apply border-primary;
    }
    .main-slider
        .swiper-pagination
        .swiper-pagination-bullet.swiper-pagination-bullet-active {
        @apply bg-primary;
    }
    /* Banner */
    .banner-discount {
        @apply font-rajdhani;
        @apply text-primary;
        text-transform: capitalize;
        font-size: 34px;
        line-height: 1.3;
        font-weight: 600;
        display: block;
        margin-top: 10px;
    }
    .banner:nth-child(2) h3 {
        color: white;
    }
    .banner:nth-child(2) .discount {
        color: black;
    }
    .banner:hover img {
        transform: scale(1.1);
    }
    /* Brand */
    .brand .brand-header {
        height: 696px;
        background-image: url(../assets/bg-1.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .brandSwiper .swiper-pagination {
        display: none;
    }
    /* Product */
    .product .product-image {
        width: 100%;
        height: 300px;
    }
    /* Footer */
    /* Footer top */
    .footer-top-input {
        @apply font-rajdhani;
        width: 100%;
        height: 46px;
        padding: 0rem 60px 0 15px;
        background-color: #f4edff;
        border: 1px solid #f4edff;
        font-size: 14px;
        color: #919090;
        font-weight: 600;
        outline: none;
        transition: all 0.3s linear;
    }
    .footer-top-input:focus {
        @apply border-primary;
    }
    /* Footer section */
    .footer-section-link {
        font-size: 16px;
        font-weight: 400;
        color: #6d707f;
        transition: all 0.3s linear;
    }
}

@layer utilities {
    .back-to-top {
        position: fixed;
        bottom: 20px;
        right: 20px;
        font-size: 30px;
        width: 40px;
        height: 40px;
        line-height: 40px;
        border-radius: 50%;
        border: 0;
        z-index: 99;
        text-align: center;
        box-shadow: 0 0 30px 0 rgba(156, 156, 156, 0.25);
        transition: all 0.3s linear;
        color: #fff;
        @apply bg-primary;
    }
    .fly-item {
        text-align: center;
        @apply bg-primary;
        @apply text-white;
        position: absolute;
        min-width: 20px;
        line-height: 20px;
        border-radius: 100%;
        padding: 0;
        font-size: 12px;
        display: inline-block;
    }
    .dropdown-cart {
        position: absolute;
        top: 100%;
        width: 350px;
        right: -20px;
        background-color: white;
        box-shadow: 0px 3px 25.5px 4.5px rgba(0, 0, 0, 0.06);
        border-radius: 5px;
        padding-top: 1rem;
        transition: all 500ms linear;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        border: 1px solid rgba(0, 0, 0, 0.1);
    }
    .dropdown-cart.show {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
}
